@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #eef2f7, #dbeafe);
    margin: 20px;
    color: #1f2933;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    background: #ffffff;
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

input,
select {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.text {
    width: 500px;
}

button {
    padding: 10px 14px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}


.btn-add {
    background: #3b82f6;
}

.btn-add:hover {
    background: #4e80ec;
    transform: scale(1.05);
}


.btn-delete {
    background: #ef4444;
}

.btn-delete:hover {
    background: #df1313;
    transform: scale(1.05);
}


.btn-process {
    background: #f59e0b;
    color: whitesmoke;
}

.btn-process:hover {
    background: #e08823;
    transform: scale(1.05);
}


.btn-done {
    background: #22c55e;
}

.btn-done:hover {
    background: #16a34a;
    transform: scale(1.05);
}


.board {
    display: flex;
    gap: 15px;
}

.column {
    flex: 1;
    background: #ffffff;
    padding: 12px;
    border-radius: 16px;
    min-height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.task {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    background: #fafafa;
    transition: 0.2s;
}

.task:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.low {
    border-left: 6px solid #22c55e;
}

.medium {
    border-left: 6px solid #f59e0b;
}

.high {
    border-left: 6px solid #ef4444;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}

.overdue {
    background: #fee2e2;
    border-left: 6px solid #b91c1c;
}

.task-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 12px;
    margin-top: 5px;
}

.task-meta span {
    background: #e5e7eb;
    padding: 4px 8px;
    border-radius: 10px;
}

.icon-btn {

    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    padding: 6px 10px;
    border-radius: 10%;
    transition: 0.2s;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.icon-edit {
    background: #e49217;
}

.icon-delete {
    background: #ef4444;
}

.icon-btn:hover {
    background: #c7d2fe;
}